<html>
  <link
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <body>
    <div
      class="min-h-screen bg-gray-50 bg-gradient-to-b from-white to-slate-200"
    >
      <header
        class="m-auto flex max-w-screen-lg w-auto flex-row justify-between p-3"
      >
        <div>
          <a href="/"
            ><h1
              class="bg-gradient-to-r from-blue-400 to-purple-800 bg-clip-text text-6xl font-extrabold leading-tight text-transparent"
            >
              Curiola
            </h1></a
          >
          <h2 class="text-base text-gray-600">
            Product, UX, Technology, Strategy and Growth 🦄
          </h2>
        </div>
        <div class="flex flex-col justify-center">
          <div class="flex flex-col p-3 md:flex-row md:space-x-3">
            <p class="group text-gray-600 transition duration-300">
              <i class="fa fa-envelope-o fa-fw"></i>
              <a href="mailto:nick@curiola.com">
                <span class="network-name">Email</span>
                <span
                  class="block h-0.5 max-w-0 bg-blue-300 transition-all duration-200 group-hover:max-w-full"
                ></span>
              </a>
            </p>
            <p class="group text-gray-600 transition duration-300">
              <i class="fa fa-github fa-fw"></i>
              <a href="https://github.com/17twenty">
                <span class="network-name">Github</span>
                <span
                  class="block h-0.5 max-w-0 bg-blue-300 transition-all duration-200 group-hover:max-w-full"
                ></span>
              </a>
            </p>
            <p class="group text-gray-600 transition duration-300">
              <i class="fa fa-linkedin fa-"></i>
              <a href="https://linkedin.com/in/nickglynn">
                <span class="network-name">LinkedIn</span>
                <span
                  class="block h-0.5 max-w-0 bg-blue-300 transition-all duration-200 group-hover:max-w-full"
                ></span>
              </a>
            </p>
          </div>
        </div>
      </header>
      <div class="m-auto max-w-screen-lg w-auto">
        <div class="ml-5 mr-5 min-w-96 grow rounded-2xl bg-white p-3 shadow-xl">
          <div class="md:m-6 m-2 h-72 overflow-clip rounded-2xl">
            <img
              class="w-full object-contain max-w-full"
              src="https://upload.wikimedia.org/wikipedia/commons/b/b3/640x480.jpg"
            />
          </div>
          <section class="m-4 text-gray-600">
            <div class="mb-4">
              <p class="text-xs font-normal text-gray-500">12 Jan 2024</p>
              <h1 class="text-2xl font-bold text-black">
                Can they really steal your soul?
              </h1>
              <h2 class="text-normal overflow-ellipsis">
                101 Tips on how to deal with ginger children and what to do when
                they start their aggression years
              </h2>
            </div>
            <h3 class="text-xl font-bold leading-10 text-black">
              This is a header
            </h3>
            <p class="mb-5">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos
              dolores et quas molestias excepturi sint occaecati cupiditate non
              provident, similique sunt in culpa qui officia deserunt mollitia
              animi, id est laborum et dolorum fuga. Et harum quidem rerum
              facilis est et expedita distinctio. Nam libero tempore, cum soluta
              nobis est eligendi optio cumque nihil impedit quo minus id quod
              maxime placeat facere possimus, omnis voluptas assumenda est,
              omnis dolor repellendus. Temporibus autem quibusdam et aut
              officiis debitis aut rerum necessitatibus saepe eveniet ut et
              voluptates repudiandae sint et molestiae non recusandae. Itaque
              earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
              voluptatibus maiores alias consequatur aut perferendis doloribus
              asperiores repellat.
            </p>
            <hr class="mx-48 mt-5" />
            <h3 class="text-xl font-bold leading-10 text-black">
              Doobity Dooby
            </h3>
            <p class="mb-5">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos
              dolores et quas molestias excepturi sint occaecati cupiditate non
              provident, similique sunt in culpa qui officia deserunt mollitia
              animi, id est laborum et dolorum fuga. Et harum quidem rerum
              facilis est et expedita distinctio. Nam libero tempore, cum soluta
              nobis est eligendi optio cumque nihil impedit quo minus id quod
              maxime placeat facere possimus, omnis voluptas assumenda est,
              omnis dolor repellendus. Temporibus autem quibusdam et aut
              officiis debitis aut rerum necessitatibus saepe eveniet ut et
              voluptates repudiandae sint et molestiae non recusandae. Itaque
              earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
              voluptatibus maiores alias consequatur aut perferendis doloribus
              asperiores repellat.
            </p>
            <p class="mb-5">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos
              dolores et quas molestias excepturi sint occaecati cupiditate non
              provident, similique sunt in culpa qui officia deserunt mollitia
              animi, id est laborum et dolorum fuga. Et harum quidem rerum
              facilis est et expedita distinctio. Nam libero tempore, cum soluta
              nobis est eligendi optio cumque nihil impedit quo minus id quod
              maxime placeat facere possimus, omnis voluptas assumenda est,
              omnis dolor repellendus. Temporibus autem quibusdam et aut
              officiis debitis aut rerum necessitatibus saepe eveniet ut et
              voluptates repudiandae sint et molestiae non recusandae. Itaque
              earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
              voluptatibus maiores alias consequatur aut perferendis doloribus
              asperiores repellat.
            </p>
            <hr class="mx-48 mt-5" />
            <h3 class="text-xl font-bold leading-10 text-black">
              This is a header
            </h3>
            <p class="mb-5">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos
              dolores et quas molestias excepturi sint occaecati cupiditate non
              provident, similique sunt in culpa qui officia deserunt mollitia
              animi, id est laborum et dolorum fuga. Et harum quidem rerum
              facilis est et expedita distinctio. Nam libero tempore, cum soluta
              nobis est eligendi optio cumque nihil impedit quo minus id quod
              maxime placeat facere possimus, omnis voluptas assumenda est,
              omnis dolor repellendus. Temporibus autem quibusdam et aut
              officiis debitis aut rerum necessitatibus saepe eveniet ut et
              voluptates repudiandae sint et molestiae non recusandae. Itaque
              earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
              voluptatibus maiores alias consequatur aut perferendis doloribus
              asperiores repellat.
            </p>
            <hr class="mx-48 mt-5" />
          </section>
        </div>
      </div>
      <footer class="bottom-0 mt-8 min-h-3 w-auto bg-gray-800 text-gray-300">
        <div class="m-auto p-3">
          <p class="text-center">Copyright &copy; Curiola and Nick Glynn</p>
          <p class="text-center text-sm text-gray-400">
            Product, AWS, Linux, CI/CD, Golang, Python and Training
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
